---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p>
			Upload an images to create a halloween story
		</p>
		<section>
			<Input />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	p {
		color: light-dark(#313131, #a7a5a5);
		text-align: center;
	}
	section {
		display: flex;
		justify-content: center;
	}
</style>
