---
import Layout from "../layouts/Layout.astro";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import { getAssetInfo } from "../utils/get-description";
import { getPrompt } from "../utils/getPrompt";

const { searchParams } = Astro.url;
const id = searchParams.get("id");
let description = searchParams.get("description");

if (id === null) return Astro.redirect("/404?reason=ID");

if (description === null) {
  description = await getAssetInfo(id);
  if (description === null) return Astro.redirect("/404?reason=Description");
}

const { title, prompt, environment, time_day } = getPrompt();

const url = getCldImageUrl({
  src: id,
});

console.log({ id, description, url });
---

<Layout title="Welcome to Astro">
  <section>
    <img src={url} alt={`${url}-image`} />
  </section>
</Layout>

<style>
  section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  p {
    color: light-dark(#313131, #a7a5a5);
    text-align: center;
  }
  img {
    max-width: 80%;
    height: auto;
    border-radius: 15px;
  }
</style>
