---
import Logo from 'public/cloudinary-logo.svg';
---

<div class="flex md:flex-col flex-row md:justify-stretch justify-center items-center my-10">
  <div class="flex items-center justify-center gap-2">
    <p class="md:text-3xl text-2xl ml-5">Powered by</p>
    <img src="/cloudinary-logo.svg" alt="Cloudinary logo" />
  </div>
</div>


<style>
  img {
    width: 300px;
    height: auto;
  }
</style>