---
import '@fontsource/luckiest-guy';
import '@fontsource-variable/merriweather-sans/wght-italic.css';
---

<nav>
  <h1>
    Halloween Story 
    <span>AI Generator</span>
  </h1>
</nav>


<style>
  nav {
    margin: 15px 5px;
    text-align: center;
  }
  span {
    font-family: 'Merriweather Sans Variable', sans-serif;
    font-style: italic;
  }
  h1 {
    display: block;
    font-family: 'Luckiest Guy', system-ui;
    font-size: 3rem;
    color: #ff6600;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: colorCycle 10s infinite;
  }
  @keyframes colorCycle {
    0%, 100% {
      color: #ff6600;
    }
    33% {
      color: #ec7729;
    }
    66% {
      color: #bb4d03;
    }
  }
</style>