---
import { CldUploadWidget } from "astro-cloudinary";
---

<div>
  <label class="text-xl mr-2" for="name">Character name:</label>
  <input
    class="py-3 text-lg text-center rounded-lg ring-2 ring-orange-500 "
    type="text"
    name="name"
    id="name"
    placeholder="Optional"
  />
  <CldUploadWidget
    id="upload-event"
    uploadPreset="hackathon-cloudinary"
    signatureEndpoint="/api/sign-cloudinary"
    options={{
      sources: ["local"],
      multiple: true,
      maxFiles: 2,
      detection: "captioning",
      
    }}
    
  >
    <button class="py-4 px-10 mt-8 bg-orange-600 rounded-md my-5 hover:bg-orange-500 transition duration-200 cursor:pointer text-2x">Upload Image</button>
  </CldUploadWidget>
</div>

<script>
  import { navigate } from "astro:transitions/client";
  let name = "";
  const widget = document.querySelector("#upload-event");
  const nameEl = document.getElementById("name");
  if (nameEl) {
    nameEl.addEventListener("input", (e) => {
      const target = e.target as HTMLInputElement;
      name = target.value;
    });
  }
  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{
        info: {
          public_id: string;
          info: { detection: { captioning: { data: { caption: string } } } };
        };
      }>,
    ) => {
      const publicId = e.detail.info.public_id;
      if (name !== "") {
        navigate(`/photo?id=${publicId}&name=${name}`);
      } else {
        navigate(`/photo?id=${publicId}&name=${name}`);
      }
    }) as EventListener);
  }
</script>
