---
import ImageContainer from "./ImageContainer.astro";

import { getCldImageUrl } from "astro-cloudinary/helpers";

const { id } = Astro.props;
const url = getCldImageUrl({
  src: id,
});
//const url = '/vas_a_caer.jpg';

// f_auto/fl_attachment:example/
---

<section class="mx-auto max-w-[1200px]">
  <br />
  <h2 class="md:text-2xl text-lg mb-3 text-center">Optimized Original Image</h2>
  <ImageContainer server:defer url={url}>
    <div
      slot="fallback"
      class="bg-fallback mx-auto w-[500px] h-[500px] rounded-2xl flex flex-col justify-center items-center"
    >
      <l-quantum size="55" speed="2.0" color="orange"></l-quantum>
      <span>Loading Image</span>
    </div>
  </ImageContainer>
  <br />
</section>
